body {
  margin: 0;
  padding: 0;
  background-color: rgb(93, 91, 64);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}

.clock {
  position: relative;
  background-color: rgb(63, 61, 57);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid darkgoldenrod;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.numbers div {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.twelve {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 6px;
  transform: translateY(-50%);
  top: 50%;
}

.arrows {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.arrows::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: palegoldenrod;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.arrows div{
    background-color: aliceblue;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.arrows .hour{
    height: 80px;
    transform: rotate(30deg);
}

.arrows .second{
    background-color: rgb(212, 212, 173);
    transform: rotate(250deg);
}
